* {
  box-sizing: border-box;
}

body {
  background-color: azure;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 20px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

section {
  margin: 0 auto;
  width: 100%;
}

section#imageClicked {
  background-color: bisque;
  margin-bottom: 40px;
  width: 960px;
  border: 2px solid black;
}

img {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  margin: 30px;
  width:25%;
}

section.canvas {
  width: 100%;
  margin: auto;
}

canvas {
  height: 400px;
  width: 600px;
  border: 3px solid black;
  background-color: white;
}

